// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
    
  background: url('https://lh5.googleusercontent.com/-WqLtun44cIY/Tu0V8BMz5KI/AAAAAAABFUU/PsEM8G8pPec/w399-h224/New-York-City-Times-Square-Animated-Gif-from-Girly-girl-graphics-on-photobucket.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #708090;

}	